            @font-face {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 100;
                font-display: swap;
                src: url(https://fonts.gstatic.com/s/poppins/v15/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format('woff2');
                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
            }
            
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            body {
                font-family: 'Poppins', sans-serif;
            }
            
            .formMessage {
                background: #B4C642;
                width: 100%;
                height: 100%;
                text-align: center;
                padding: 30px;
                min-height: 250px;
                position: fixed;
                left: 50;
                top: 0;
                display: none;
            }
            
            .container {
                padding: 300px;
            }
            
            .titulo {
                margin-top: 5%;
                margin-bottom: 5%;
                text-align: center;
                color: #B4C642;
                font-size: 21px;
                font-family: 'Poppins-Medium', sans-serif;
            }
            
            .parrafo {
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
                text-align: left;
            }
            /* banner */
            
            .banner1 {
                width: auto;
                height: 600px;
                background-image: url("../img/portada 1 (3).png");
                background-repeat: no-repeat;
                background-size: cover;
                width: auto;
                position: relative;
                display: flex;
                justify-content: left;
                align-items: center;
            }
            
            .info {
                color: #575A6D;
                margin-left: 15%;
                margin-top: 25%;
            }
            
            .info h1 {
                width: 60%;
                font-family: 'Poppins-SemiBold', sans-serif;
            }
            
            .boton button {
                color: #fff;
                width: 20%;
                background: #B4C642;
                border: 0;
                text-transform: uppercase;
                padding: 1em;
                border-bottom: 1px solid #575A6D;
                border-radius: 10px;
                text-align: center;
                margin-top: 5%;
            }
            
            .boton button:hover,
            .boton button :focus {
                background: #fff;
                color: #B4C642;
                outline: 0;
            }
            
            @media (max-width: 600px) {
                /*celu*/
                .banner1 {
                    background-position-x: center;
                }
                .boton button {
                    width: 80%;
                }
                .info {
                    margin-top: 55%;
                }
                .info h1 {
                    font-size: 25px;
                }
            }
            /*bajada*/
            
            .bajada {
                text-align: center;
                padding: 100px;
            }
            
            @media (max-width: 600px) {
                .bajada {
                    padding: 2em;
                    font-size: 12px;
                    text-align: justify;
                }
            }
            /*TEXTO INFO*/
            
            .Texto-wrapper>* {
                border-radius: 10px;
            }
            
            .Texto-texto {
                color: #575A6D;
            }
            
            .Texto-foto {
                height: 300px;
                background-image: url(../img/vaca\ 2.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position-x: left;
                width: auto;
            }
            
            .content1 {
                max-width: 1170px;
                margin-left: auto;
                margin-right: auto;
                padding: 1.5em;
            }
            
            .content {
                max-width: 1170px;
                margin-left: auto;
                margin-right: auto;
                padding: 0 1.5em;
            }
            
            .Texto-foto2 {
                height: 220px;
                background-image: url(../img/4\ 1\ \(1\).png);
                background-repeat: no-repeat;
                background-size: contain;
                width: auto;
                background-position-x: right;
            }
            
            @media (min-width: 700px) {
                .content1 {
                    padding: 0 4rem;
                    order: 2;
                }
                .Texto-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
                .Texto-foto {
                    height: 400px;
                    order: 1;
                    margin-top: 15%;
                }
                .Texto-foto2 {
                    height: 400px;
                }
                .Texto-texto {
                    margin-right: 2%;
                }
                .parrafo {
                    font-size: 19px;
                    text-align: right;
                }
                .parrafo2 {
                    font-size: 19px;
                    text-align: left;
                }
                .titulo {
                    font-size: 31px;
                }
            }
            /* fotos */
            
            .slider {
                width: 100%;
                height: 50%;
                overflow: hidden;
                margin-top: 30px;
            }
            
            .slider ul {
                display: flex;
                animation: cambio 20s infinite alternate linear;
                width: 300%;
                height: 50%;
            }
            
            .slider li {
                width: 100%;
                list-style: none;
            }
            
            .slider img {
                width: 100%;
            }
            
            @media (min-width: 700px) {
                .slider {
                    margin-top: 50px;
                    height: 420px;
                }
            }
            
            @keyframes cambio {
                0% {
                    margin-left: 0;
                }
                20% {
                    margin-left: 0;
                }
                25% {
                    margin-left: -100%;
                }
                45% {
                    margin-left: -100%;
                }
                50% {
                    margin-left: -200%;
                }
                70% {
                    margin-left: -200%;
                }
            }
            /*DIETAS*/
            
            .body2 {
                margin: 5%;
                padding: 0;
                box-sizing: border-box;
                display: list-item;
                align-items: center;
            }
            
            .wrapper {
                width: 100%;
            }
            
            .wrapper .carousel1 {
                max-width: 150%;
                margin: auto;
                padding: 0 20px;
            }
            
            .card1 h4 {
                font-size: 15px;
            }
            
            .carousel1 .card {
                line-height: 250px;
                margin: 20px 0;
                border-radius: 10px;
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
            }
            
            .card {
                font-size: 19px;
            }
            
            .carousel1 .card-1 {
                background-image: url(../img/concepto-dieta-saludable-vegetariana-ovo-lacto_82893-13977.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                width: auto;
            }
            
            .carousel1 .card-2 {
                background-image: url(../img/image\ 16.png);
                background-repeat: no-repeat;
                background-size: cover;
                width: auto;
            }
            
            .carousel1 .card-3 {
                background-image: url(../img/unnamed\ \(1\).jpg);
                background-repeat: no-repeat;
                background-size: cover;
                width: auto;
            }
            
            .carousel1 .card-4 {
                background-image: url(../img/vegetarianismo.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                width: auto;
            }
            
            @media (min-width: 700px) {
                .card1 {
                    font-size: 22px;
                    text-align: center;
                }
                .card1 h4 {
                    font-size: 23px;
                }
                .card1 h6 {
                    text-align: left;
                    font-size: 21px;
                }
            }
            /*FORMULARIO*/
            
            .sectionForm {
                width: auto;
                background-image: url(../img/image\ 13.png);
                background-repeat: no-repeat;
                background-size: cover;
                width: auto;
                position: relative;
            }
            
            .formContainer {
                max-width: 1170px;
                margin-left: auto;
                margin-right: auto;
                padding: 1.5em;
            }
            
            .inputContainer {
                background: #fff;
                border-radius: 10px;
                margin-top: 20%;
                margin-bottom: 10%;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-flow: row wrap;
            }
            
            .formHeader {
                margin-top: 10%;
                margin: 0;
                padding: 1em;
            }
            
            .inputBox {
                width: 80%;
                display: flex;
                flex-direction: column;
                font-family: 'Poppins-Regular', sans-serif;
                margin-top: 5%;
            }
            
            .inputSubmit {
                width: 75%;
                padding: .7em;
                margin-top: 5%;
                margin-bottom: 5%;
                border: none;
                background: none;
                outline: none;
                color: #ffffff;
                border-bottom: 1px solid #ffffff;
                border-radius: 10px;
            }
            
            .inputBox input {
                width: 100%;
                padding: .7em;
                border: none;
                background: none;
                outline: none;
                color: #575A6D;
                /*texto a escribir*/
                border-bottom: 1px solid #575A6D;
            }
            
            .inputSubmit {
                background: #B4C642;
                border: 0;
                text-transform: uppercase;
                padding: 1em;
            }
            
            .inputSubmit:hover,
            .inputSubmit :focus {
                background: #fff;
                color: #B4C642;
                outline: 0;
            }
            
            .formHeaderTitle {
                color: #B4C642;
                text-align: center;
                margin: 0 0 1rem 0;
            }
            
            .formHeaderText {
                color: #ffffff;
                text-align: justify;
                margin: 0 0 1rem 0;
                font-family: 'Poppins-Regular', sans-serif;
                font-size: 21px;
            }
            /*------- FORM MESSAGE -------*/
            
            .formMessage {
                width: 100%;
                height: 100%;
                display: none;
                align-items: center;
            }
            
            .messageContainer {
                width: 90%;
                margin: auto;
                display: flex;
                flex-flow: row wrap;
                background: #B4C642;
                color: #fff;
                padding-bottom: 50px;
                opacity: 0.95;
            }
            
            .form-close {
                width: 90%;
                height: 10%;
                margin: auto;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
            }
            
            .form-close img {
                cursor: pointer;
                position: absolute;
                right: 8px;
                top: 8px;
            }
            
            .messageText {
                width: 90%;
                height: 80%;
                margin: auto;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
            }
            
            .messageText span {
                font-family: 'Poppins-SemiBold', sans-serif;
            }
            
            .t {
                font-size: 22px;
                font-weight: lighter;
                text-align: center;
                font-family: 'Poppins-SemiBold', sans-serif;
            }
            
            @media (min-width: 700px) {
                .content {
                    padding: 0 4rem;
                }
                .formContainer {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
                .inputContainer {
                    padding: 2em;
                }
                .formHeaderTitle {
                    margin-right: 1em;
                    text-align: left;
                }
                .formHeaderTitle {
                    text-align: left;
                    font-size: 38px;
                }
            }